dcase24.py
wandb/
*.pyc
dcase2024_task1_submission_validator-main
*h5py
*.json
*model_state_dict.pt
cams/9qlpxkfm_GradCAM/airport_activation_maps.pt
cams/9qlpxkfm_GradCAM/bus_activation_maps.pt
cams/9qlpxkfm_GradCAM/metro_activation_maps.pt
cams/9qlpxkfm_GradCAM/metro_station_activation_maps.pt
cams/9qlpxkfm_GradCAM/park_activation_maps.pt
cams/9qlpxkfm_GradCAM/public_square_activation_maps.pt
cams/9qlpxkfm_GradCAM/shopping_mall_activation_maps.pt
cams/9qlpxkfm_GradCAM/street_pedestrian_activation_maps.pt
cams/9qlpxkfm_GradCAM/street_traffic_activation_maps.pt
cams/9qlpxkfm_GradCAM/tram_activation_maps.pt
cams/c7urqd64_GradCAM/airport_activation_maps.pt
cams/c7urqd64_GradCAM/bus_activation_maps.pt
cams/c7urqd64_GradCAM/metro_activation_maps.pt
cams/c7urqd64_GradCAM/metro_station_activation_maps.pt
cams/c7urqd64_GradCAM/park_activation_maps.pt
cams/c7urqd64_GradCAM/public_square_activation_maps.pt
cams/c7urqd64_GradCAM/shopping_mall_activation_maps.pt
cams/c7urqd64_GradCAM/street_pedestrian_activation_maps.pt
cams/c7urqd64_GradCAM/street_traffic_activation_maps.pt
cams/c7urqd64_GradCAM/tram_activation_maps.pt
cams/huyzahj3_GradCAM/airport_activation_maps.pt
cams/huyzahj3_GradCAM/bus_activation_maps.pt
cams/huyzahj3_GradCAM/metro_activation_maps.pt
cams/huyzahj3_GradCAM/metro_station_activation_maps.pt
cams/huyzahj3_GradCAM/park_activation_maps.pt
cams/huyzahj3_GradCAM/public_square_activation_maps.pt
cams/huyzahj3_GradCAM/shopping_mall_activation_maps.pt
cams/huyzahj3_GradCAM/street_pedestrian_activation_maps.pt
cams/huyzahj3_GradCAM/street_traffic_activation_maps.pt
cams/huyzahj3_GradCAM/tram_activation_maps.pt
cams/iqahdgms_GradCAM/airport_activation_maps.pt
cams/iqahdgms_GradCAM/bus_activation_maps.pt
cams/iqahdgms_GradCAM/metro_activation_maps.pt
cams/iqahdgms_GradCAM/metro_station_activation_maps.pt
cams/iqahdgms_GradCAM/park_activation_maps.pt
cams/iqahdgms_GradCAM/public_square_activation_maps.pt
cams/iqahdgms_GradCAM/shopping_mall_activation_maps.pt
cams/iqahdgms_GradCAM/street_pedestrian_activation_maps.pt
cams/iqahdgms_GradCAM/street_traffic_activation_maps.pt
cams/iqahdgms_GradCAM/tram_activation_maps.pt
cams/ttpwu2wq_GradCAM/airport_activation_maps.pt
cams/ttpwu2wq_GradCAM/bus_activation_maps.pt
cams/ttpwu2wq_GradCAM/metro_activation_maps.pt
cams/ttpwu2wq_GradCAM/metro_station_activation_maps.pt
cams/ttpwu2wq_GradCAM/park_activation_maps.pt
cams/ttpwu2wq_GradCAM/public_square_activation_maps.pt
cams/ttpwu2wq_GradCAM/shopping_mall_activation_maps.pt
cams/ttpwu2wq_GradCAM/street_pedestrian_activation_maps.pt
cams/ttpwu2wq_GradCAM/street_traffic_activation_maps.pt
cams/ttpwu2wq_GradCAM/tram_activation_maps.pt
*.ckpt
h5py_audio_wav
h5py_cochl10_256bins
h5py_cochl_train_mel_10s_128bins
h5py_mel_256bins
h5py_mic_wav_1
h5py_TAU22_128bins
resources/dymn04_as.pt
resources/dymn10_as.pt
resources/dymn20_as_mAP_493.pt
resources/mn20_as_mAP_478.pt
resources/mn30_as_mAP_482.pt
predictions/ensemble/sub5_ensemble_3SIT_3BCBL_gated.pt
predictions/ensemble/sub5_ensemble_3SIT_3BCBL_max_vote.pt
predictions/ensemble/sub5_ensemble_3SIT_3BCBL_weighted_linear.pt
predictions/ensemble/sub5_ensemble_3SIT_3BCBL_gated.pt
predictions/ensemble/sub5_ensemble_3SIT_3BCBL_gated.pt
predictions/ensemble/sub5_ensemble_3SIT_3BCBL_gated.pt
predictions/ensemble/sub5_ensemble_3SIT_3BCBL_gated.pt
h5py_ICME_128_1s_mel
h5py_TUT_2017_128_mel
h5py_TUT_2018_128_mel
h5py_TUT_mel
predictions/ensemble/sub5_12_hetero_BCBL_mixaug_SFT.pt
predictions/ensemble/sub5_12_hetero_BCBL_mixaug_SIT.pt
predictions/ensemble/sub5_12_hetero_BCBL_sameaug_SFT.pt
predictions/ensemble/sub5_12_hetero_BCBL_sameaug_SIT.pt
predictions/ensemble/sub5_12_hetero_sameaug_SFT.pt
predictions/ensemble/sub5_12_hetero_sameaug_SIT.pt
predictions/ensemble/sub5_12_hetero_SFT.pt
predictions/ensemble/sub5_12_hetero_SIT.pt
predictions/ensemble/sub5_12_homo_SFT.pt
predictions/ensemble/sub5_12_homo_SIT.pt
predictions/ensemble/sub5_6_hetero_mixaug_SIT.pt
predictions/ensemble/sub5_ensemble_3SIT_3BCBL_gated.pt
predictions/ensemble/sub5_ensemble_6_BCBL.pt
predictions/ensemble/sub5_ensemble_6SIT_6BCBL_max_vote.pt
predictions/ensemble/sub5_ensemble_6SIT_6BCBL_weighted_linear.pt
